*, ::before, ::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
} /*1. Use a consistent sensible line-height in all browsers.2. Prevent adjustments of font size after orientation changes in iOS.3. Use a more readable tab size.4. Use the user's configured `sans` font-family by default.5. Use the user's configured `sans` font-feature-settings by default.*/
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-feature-settings: normal;
     -moz-font-feature-settings: normal;
          font-feature-settings: normal;
} /*1. Remove the margin in all browsers.2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.*/
body {
  margin: 0;
  line-height: inherit;
} /*1. Add the correct height in Firefox.2. Correct the inheritance of border color in Firefox. (https:show_bug.cgi?id=190655)3. Ensure horizontal rules are visible by default.*/
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
} /*Add the correct text decoration in Chrome, Edge, and Safari.*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
} /*Remove the default font size and weight for headings.*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
} /*Reset links to optimize for opt-in styling instead of opt-out.*/
a {
  color: inherit;
  text-decoration: inherit;
} /*Add the correct font weight in Edge and Safari.*/
b, strong {
  font-weight: bolder;
} /*1. Use the user's configured `mono` font family by default.2. Correct the odd `em` font sizing in all browsers.*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
} /*Add the correct font size in all browsers.*/
small {
  font-size: 80%;
} /*Prevent `sub` and `sup` elements from affecting the line height in all browsers.*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
} /*1. Remove text indentation from table contents in Chrome and Safari. (https:show_bug.cgi?id=201297)2. Correct table border color inheritance in all Chrome and Safari. (https:show_bug.cgi?id=195016)3. Remove gaps between table borders by default.*/
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
} /*1. Change the font styles in all browsers.2. Remove the margin in Firefox and Safari.3. Remove default padding in all browsers.*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
} /*Remove the inheritance of text transform in Edge and Firefox.*/
button, select {
  text-transform: none;
} /*1. Correct the inability to style clickable types in iOS and Safari.2. Remove default button styles.*/
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
} /*Use the modern Firefox focus style for all focusable elements.*/
:-moz-focusring {
  outline: auto;
} /*Remove the additional `:invalid` styles in Firefox. (https:forms.css#L728-L737)*/
:-moz-ui-invalid {
  box-shadow: none;
} /*Add the correct vertical alignment in Chrome and Firefox.*/
progress {
  vertical-align: baseline;
} /*Correct the cursor style of increment and decrement buttons in Safari.*/
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
} /*1. Correct the odd appearance in Chrome and Safari.2. Correct the outline style in Safari.*/
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
} /*Remove the inner padding in Chrome and Safari on macOS.*/
::-webkit-search-decoration {
  -webkit-appearance: none;
} /*1. Correct the inability to style clickable types in iOS and Safari.2. Change font properties to `inherit` in Safari.*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
} /*Add the correct display in Chrome and Safari.*/
summary {
  display: list-item;
} /*Removes the default spacing and border for appropriate elements.*/
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
} /*Prevent resizing textareas horizontally by default.*/
textarea {
  resize: vertical;
} /*1. Reset the default placeholder opacity in Firefox. (https:3300)2. Set the default placeholder color to the user's configured gray 400 color.*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
} /*Set the default cursor for buttons.*/
button, [role=button] {
  cursor: pointer;
} /*Make sure disabled buttons don't get the pointer cursor.*/
:disabled {
  cursor: default;
} /*1. Make replaced elements `display: block` by default. (https:14)2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https:14#issuecomment-634934210) This can trigger a poorly considered lint error in some tools but is included by design.*/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
} /*Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https:14)*/
img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.grid {
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-8 {
  padding: 1.6rem;
}

.m-0 {
  margin: 0rem;
}

.items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.break-after-column {
  -webkit-column-break-after: column;
     -moz-column-break-after: column;
          break-after: column;
}

.break-before-page {
  -webkit-column-break-before: page;
     -moz-column-break-before: page;
          break-before: page;
}

.columns-1 {
  -webkit-columns: 1;
     -moz-columns: 1;
          columns: 1;
}

.aspect-video {
  aspect-ratio: 16/9;
}

.z-20 {
  z-index: 20;
}

.z-90 {
  z-index: 90;
}

.gap-x-1 {
  row-gap: 0.2rem;
}

.items-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.items-end {
  -webkit-box-align: end;
  -webkit-align-items: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.items-evenly {
  -webkit-box-align: evenly;
  -webkit-align-items: evenly;
     -moz-box-align: evenly;
      -ms-flex-align: evenly;
          align-items: evenly;
}

.p-2 {
  padding: 0.4rem;
}

.rounded-md {
  border: 8px;
}

.rounded-lg {
  border: 10px;
}

.basis-1\.5 {
  -webkit-flex-basis: 1.5;
      -ms-flex-preferred-size: 1.5;
          flex-basis: 1.5;
}

.px-10 {
  padding: 0 2rem;
}

.py-12 {
  padding: 2.4rem 0;
}

.basis-8 {
  -webkit-flex-basis: 8;
      -ms-flex-preferred-size: 8;
          flex-basis: 8;
}

.p-\[3px\] {
  padding: 3px;
}

.gap-x-\[10rem\] {
  row-gap: 10rem;
}

.gap-18 {
  gap: 3.6rem;
}

.gap-y-20 {
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}

.rounded-full {
  border: 9999px;
}

@media only screen and (min-width: 576px) {
  .md\:flex-nowrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .md\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .md\:gap-\[2rem\] {
    gap: 2rem;
  }
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .md\:basis-0\.5 {
    -webkit-flex-basis: 0.5;
        -ms-flex-preferred-size: 0.5;
            flex-basis: 0.5;
  }
  .md\:basis-1\/12 {
    -webkit-flex-basis: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%;
  }
  .md\:rounded-\[5px\] {
    border: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .lg\:basis-3\.5 {
    -webkit-flex-basis: 3.5;
        -ms-flex-preferred-size: 3.5;
            flex-basis: 3.5;
  }
  .lg\:mb-8 {
    margin-bottom: 1.6rem;
  }
  .lg\:basis-1\/4 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }
}
@media only screen and (max-width: 575px) {
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .sm\:gap-4 {
    gap: 0.8rem;
  }
}